<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="html5" description="proyecto">
    <title>scesi</title>

    <!--Favicon-->
    <link rel="icon" href="img/favicon.png">
    <!--Iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--CSS pagina-->
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
</head>
<body>
    <!--Encabezado de página-->
    <header class="encabezado">
        <div class="logo-titulo">
            <img src="img/logo.png" atl="logo pagina">
            <a>
                <h1>Proyecto</h1>
            </a>
        </div>
        <nav class="menu">
            <a href="html.html">HTML</a>
            <a href="css.html">CSS</a>
        </nav>
    </header>

    <!--Contenido de la página-->
    <section>
        <h2 class="subtitulo">Seccion # 1</h2><br>
        <article class="contenido-de-seccion">
            <div class="seccion-imagen">
                <img src="img/texto.PNG" alt="Etiquetas de texto">
            </div>
            <div class="seccion-texto">
                <h3>Etiquetas de texto</h3>
                <p>Sirven para agregar contenido de tipo texto a nuestra página mejora tus habilidades en <a href="https://www.w3schools.com/" target="_blank">w3school</a>
                </p>
                <h3>h1</h3>
                <p>Para el titulo de nuestra página</p>
                <h3>h2, h3, h4, h5 ,h6</h3>
                <p>Para los subtitulos por niveles de nuestra página</p>
                <h3>p</h3>
                <p>Para agregar lineas de texto, como ser descripciones a nuestra página</p>
            </div>
        </article>

        <h2 class="subtitulo">Capítulo # 2</h2><br>
        <article class="contenido-de-seccion">
            <div class="seccion-imagen">
                <img src="img/texto.PNG" alt="Etiquetas de texto">
            </div>
            <div class="seccion-texto">
                <h3>Etiquetas de texto</h3>
                <p>Sirven para agregar contenido de tipo texto a nuestra página mejora tus habilidades en <a href="https://www.w3schools.com/" target="_blank">w3school</a>
                </p>
                <h3>h1</h3>
                <p>Para el titulo de nuestra página</p>
                <h3>h2, h3, h4, h5 ,h6</h3>
                <p>Para los subtitulos por niveles de nuestra página</p>
                <h3>p</h3>
                <p>Para agregar lineas de texto, como ser descripciones a nuestra página</p>
            </div>
        </article>        
    </section>

    <!--Pie de página-->
    <footer class="pie-pagina">
        <div class="redes-sociales">
            <a href="https://es-la.facebook.com/labinfsis/" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
            <a class="enlace-final" href="https://www.youtube.com/@laboratoriodecomputoinf-si695" target="_blank"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="derechos-reservados">
            &copy; <span> Derechos reservados - 2024</span> 
        </div>
    </footer>
</body>
</html>
